@model Account
@{
    ViewData["Title"] = "AccView";
}

<div class="text-center">
    <div class="data-container">
            <div class="result-container">
                <a>
                    <h1>Login</h1><h1>@Model.Login</h1> <dl></dl>
                </a>
                <a>
                    <h1>Password</h1><h1>@Model.Password</h1> <dl></dl>
                </a>
            </div>
        </div>
</div>