@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <p>
            <span class="index_display1"> Welcome </span>
        </p>
        <p><a href="https://www.last.fm/user/caska_d" class="href_styles" >Check my Last.fm profile</a>.</p>
    </div>
</body>
