<!DOCTYPE html>
<html lang="en">
@{ViewData["Title"] = "Test";}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <div class="text-center">
        <h1 class="display-4">Put your Values</h1>
        <form method="post">
            <div class="data-container">
                <a>
                    <input type="text" name="cardNumber"/> <dl></dl>
                    <input type="text" name="password"/> <dl></dl>
                    <input type="text" name="phoneNumber"/> <dl></dl>
                    <input type="submit" value="Отправить"/>
                </a>
            </div>
        </form>
    </div>
</div>
</body>
</html>