
@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Put your Values</h1>
    <form method="post">
        <div class="data-container">
            <a>
                <input type="text" name="value"/> <dl></dl>
                <input type="text" name="value2"/> <dl></dl>
                <input type="submit" value="Отправить" />
            </a>
        </div>
    </form>
</div>