<!DOCTYPE html>
<html lang="en">
@{ViewData["Title"] = "Wallet Reqister";}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <div class="text-center">
        <form method="post" class="form">
            
            <h1 class="form_title"> Credit data</h1>
            
            <div class="form_group">
                <input class="form_input" name="phoneNumber" placeholder=" " type="number"/>
                <label class="form_label"> Phone </label>
            </div>
            
            <div class="form_group">
                <input class="form_input" name="cardNumber" placeholder=" " type="number"/>
                <label class="form_label"> Card </label>
            </div>
            <div class="form_group">
                <input class="form_input" name="password" placeholder=" " type="password"/>
                <label class="form_label"> Pass </label>
            </div>
            <button class="form_button"> Enter  </button>
        </form>
    </div>
</div>
</body>
</html>