@model List<Operation>
@{
    ViewData["Title"] = "WalletResult";
}

<div class="text-center">
    <div class="data-container">
        
        @foreach (var row in Model)
                {
                    <div class="form">
                         <label class="index_text" > Date: </label>
                        <label class="history_text">@row.OperationTime</label>
                        <p></p>
                         <label class="index_text" > Type: </label>
                        <label class="history_text">@row.OperationType</label>
                        <p></p>
                        <label class="index_text" > Balance: </label>
                        <label class="history_text">@row.Summ</label>
                    </div>
                    <p></p>
                }
    </div>
</div>
