@model Wallet
@{
    ViewData["Title"] = "TestResult";
}

<div class="text-center">
    <div class="data-container">
            <a>
                <div class="result-container">
                    <a>
                        <h1>@Model.PhoneNumber</h1> <dl></dl>
                        <h1>@Model.СardNumber</h1> <dl></dl>
                        <a>Auth is complete</a>
                    </a>
                </div>
            </a>
        </div>
</div>