
body{
  background-image: url(../images/index_page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  
}
/* Form */
.form{
  background-color: #ffffff;
  width: 400px;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 16px #99d5fa;
  letter-spacing: 1px;
  font-family: sans-serif;

  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
 
  
}
.form_button,
.form_input{
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 16px;
}
.form_title{
  color: #1e2021;
  text-align: center;
  margin: 0 0 32px;
  font-weight: normal;
}
.form_group{
  position: relative;
  margin-bottom: 32px;
}
.form_label{
  position: absolute;
  top: 0;
  left: 0;
  color: #181717;
  transition: 0.3s;
}
.form_input{
  position: relative;
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
  outline: none;
  transition: 0.3s; 
}
.form_input:focus{
  border-bottom: 1px solid #1a73a8;
}
.form_button{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #0e0d0d;
  background-color: rgba(253, 62, 62, 0.07);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.form_button:focus,
.form_button:hover{
  background-color: rgba(142, 202, 248, 0.7);
    
}
.form_input:focus ~ .form_label, 
.form_input:not(:placeholder-shown) ~ .form_label{
  top: -18px;
  font-size: 12px;
  color: #8080ff;
}

.footer-container{
  color: #ffffff;
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
}
.footer-link {
  color: #c5e4ee;
}
.href_styles{
  color: #cbedf5;
  font-size: 50px;
  text-decoration: none;
}   
a:hover{
  text-decoration: underline;
  text-decoration-color: #000000;
  color: #c5e4ee;
}
.container{
  color: #fffefe;
  font-size: 20px;
  text-decoration: none;
}
span.index_display1{
  color: #ffedff;
  font-size: 130px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #000000;
  background-color: #fdfdfd;
  border-color: #ffffff;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #fcfcfc;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
